<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Exemple</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Books Details</h2>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Book Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${book.bookName}">Book Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">ISBN:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${book.isbn}">ISBN</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Author:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${book.author}">Author</p>
                    </div>
                </div><div class="form-group">
                <label class="col-sm-2 control-label">Release Date:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${book.releaseDate}">Release Date</p>
                </div>
            </div>

            </form>
    </div>
</div>

</body>
</html>